@model PagedList.IPagedList<Model.EF.TheThuVien>
@using PagedList.Mvc
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{
    Quản lý thẻ thư viện
}

<div class="card mb-4">
    <div class="card-header">
        <a href="/Admin/TheThuVien/Create">Thêm Thẻ Thư Viện</a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>ID thẻ</th>
                        <th>Ngày tạo</th>
                        <th>Ngày hết hạn</th>
                        <th>Trạng thái</th>
                        <th>Công cụ</th>
                        <th>Chức năng</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr id="row_@item.IDThe">
                            <td>@item.IDThe</td>
                            <td>@item.NgayTao</td>
                            <td>@item.NgayHetHan</td>
                            <td><a id="tt_@item.IDThe" href="javascript:ChangeTrangThai(@item.IDThe)">@(item.TrangThai ? "Hoạt động" : "Hết hạn")</a></td>
                            <td>
                                <a href="javascript:GetMuonFromTheThuVien(@item.IDThe)">Xem</a>
                                <a href="/Admin/TheThuVien/Edit/@item.IDThe">Sửa</a>
                                @*Dùng Ajax từ file js*@
                                <a href="javascript:XoaTheThuVien(@item.IDThe)">Xóa</a>
                            </td>
                            <td>
                                <a href="javascript:MuonSachView(@item.IDThe)">Mượn</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @* Render PartialViewXem *@
        <div id="MuonFromThe"></div>
        @*PartialViewMuonSach*@
        <div id="MuonSachView"></div>
    </div>
</div>
