@model dynamic
<div class="feed">
    <div class="feedback">
        <h1>Thanh Toán</h1>
        <div>
            <span><label>Tên người dùng</label></span>
            <span>@Model.TenNguoiDung</span>
        </div>
        <div>
            <span><label>Email</label></span>
            <span>@Model.Email</span>
        </div>
        <div>
            <span><label>Địa chỉ</label></span>
            <span>@Model.DiaChi</span>
        </div>
        <div>
            <span><label>Điện thoại</label></span>
            <span>@Model.DienThoai</span>
        </div>
        <div>
            <span><label>Thành tiền</label></span>
            <span>@Model.ThanhTien</span>
        </div>
    </div>
    <div class="clear"></div>
</div>
